/* reset */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.flex-container {
  display: flex;
  border: 2px solid #ddd;
  max-width: 600px;
  margin: 25px auto;

  /*start | end | space-between | space around | space-evently*/
  justify-content: end;
  align-items: center;
  gap: 20px;
  height: 500px;
}

.item {
  border: 1px solid lightcoral;
}

/* Navbar style */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: dodgerblue;
  font-family: sans-serif;
}

.title {
  color: #fff;
}

.links {
  display: flex;
  list-style: none;
  gap: 15px;
}

.links a {
  text-decoration: none;
  color: #fff;
}

.fa-space-awesome {
  color: goldenrod;
}

.container {
  display: flex;
  flex: wrap;
  border: 2px solid tomato;
  max-width: 600px;
  margin: 25px auto;
  height: 300px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
 

}

.item {
  border: 1px solid salmon;
}
/* 
.item-1 {
  flex-grow: 1;
}
.item-2 {
  flex-grow: 3;
}

.item-3 {
  flex-grow: 1;
} */

/* More advanced Navbar */

.navigate {
  margin-top: 20px;
  background-color: black;
}

.list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
.list li {
  flex-grow: 1;
}

@media (max-width: 600px) {
  .list {
    flex-direction: column;
  }
}

.list a {
  text-decoration: none;
  text-align: center;
  display: block;
  color: white;
  font-family: sans-serif;
  padding: 10px;
  transition: all 0.6s linear;
}

.list a:hover {
  background-color: yellow;
  color: #000;
}
